.App {
    display: flex;
    /*justify-content: space-between;*/
}

.App>* {
    margin-left: 30px;
    /*justify-content: space-between;*/
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: aquamarine;
}
.is-done{
    opacity: 0.5;
}